@media only screen and (min-width: 1024px) {
    h1 {
      margin-top: -30px;
      font-size: 20px;
    }
    .password {
      display: flex;
      flex-direction: column;
    }
    .cat {
      top: 0;
      left: 25%;
    }

    .outputData {
      position: absolute;
      top: 80px;
      left: 10px;
    }
  
    .showPsw {
      position: relative;
      right: -150px;
      top: -28px;
    }

    @keyframes fly {
      0% {
        left: 25%;
        top: -2%;
        transform: scaleX(1); /* Ensure initial state is not flipped */
      }
    
      25% {
        left: 65%;
        top: -2%;
        transform: scaleX(1);
      }
    
      50% {
        left: 65%;
        top: -2%;
        transform: scaleX(-1); /* Flip at the midpoint */
      }
    
      75% {
        left: 25%;
        top: -2%;
        transform: scaleX(-1); 
      }
    
      100% {
        left: 25%;
        top: -2%;
        transform: scaleX(1); /* Return to initial state */
      }
    }
  }
    


  