@media only screen and (min-width: 540px) {
  form {
    padding: 15px 40px 15px 40px;
    max-width: 400px;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(4);
  }

  .login {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .password {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .email {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .lang {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .agreement {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  .signIn {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .btn {
    max-width: 200px;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .cat {
    top: 3%;
    left: 0%;
  }
  
  @keyframes fly {
    0% {
      left: 5%;
      top: 3%;
      transform: scaleX(1);
    }
  
    25% {
      left: 78%;
      top: 3%;
      transform: scaleX(1);
    }
  
    50% {
      left: 78%;
      top: 3%;
      transform: scaleX(-1); 
    }
  
    75% {
      left: 5%;
      top: 3%;
      transform: scaleX(-1); 
    }
  
    100% {
      left: 5%;
      top: 3%;
      transform: scaleX(1);
    }
  }
}